<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <!-- The default priority outranks Expo's -1, so FCM resolves this one. -->
    <service
      android:name="com.veloq.VeloqMessagingService"
      android:exported="false">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT" />
      </intent-filter>
    </service>
  </application>
</manifest>
